
.contenedor{

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.page{

    
    color: white;
    text-align: center;
    /* width: 50%; */
    /* border: 5px solid black; */

}

.vehafta{

    position: absolute;
    color: white;
    text-align: center;
    align-content: center;
    width: 50%;
    height: 10%;
    /* border: 5px solid black; */
    /* background-color: darksalmon; */
    margin-top: 15%;

}


.back{

    width: 100vw;
    height: 100vh;   
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 /.5)), url(/MARK_I/CSS/Menorah2.jpg);

}